*{
    box-sizing: inherit;    
}

html{    
    /* 1 rem = 12px */
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    font-size: 1.4rem;
    color: #4f5665;
}

/* @font-face {
    font-family: 'Rubik', sans-serif;    
    src: url(../Assets/Font/Rubik/Rubik-VariableFont_wght.ttf);
} */

.lasles-overflow{
    overflow: hidden;
}
/* small nav responsive============================ */
.small_nav{
    padding: 100px 20px 20px;
    display: none;
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #0b132a;
    transition: right 400ms ease;
    position: fixed;
    z-index: 1000;
}

.small_nav-active{
    display: block;
}

.small_nav-list{    
    list-style: none;
    padding-left: 0;   
    display: flex;
    flex-direction: column;
    position: relative; 
}

.small_nav-link-item:hover{    
    color: #f53838;
}

.small_nav-list:first-child::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: #fff;
    height: 1px;
    width: 20%;
}

.small_nav-item{
    margin-bottom: 40px;
}

.small_nav-item:last-child{
    margin-bottom: 20px;
}
.small_nav-link-item{
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    padding: 10px 0;
}

.small_nav-bottom{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.small_nav-bottom a{
    height: 44px;
    width: 44px;
    padding: 10px;
    text-decoration: none;
    color: #4f5665;
    display: inline-block;
    transition: all 200ms ease;
    background-color: transparent;
}

.small_nav-bottom a svg{
    width: 100%;
    height: 100%;
}
/* Header ---------------------------------*/
.header{
    width: 100%;
    padding: 20px 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

.header_nav{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* logo ---------------------------------*/
.header_nav-logo{
    width: 150px;
    height: 34px;
}


/* header nav list ---------------------------------*/
.header .header_nav-listcontainer{
    display: none;
}

.header_nav-listcontainer{
   width: 450px;
}

.header_nav-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.header_nav-list-link{
    text-decoration: none;
    color: #4f5665;
    font-size: 1.6rem;
    text-align: center ;
}

.header_nav-list-link:hover{
    color: #f53838;
}


/* header side button ---------------------------------*/
.header .headder_nav-bottons .header_nav-btn{
    display: none;
}

.header_nav-buttons{
    display: flex;
    justify-content: space-between;    
}

.header_nav-btn{    
    height: 46px;
    background-color: rgb(255, 255, 255);
    font-size: 1.6rem;    
    padding: 0;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1000px;
}

.header_nav-btn-loggin{
    border: none;
    color: #0b132a;
    margin-right: 30px;
    display: none;
}

.header_nav-btn-register{
    color: #f53838;
    border: 1px solid #f53838;
    min-width: 150px;
    display: none;
}

.header_nav-btn-register:hover{
    background-color: #f53838;
    color: white;
}

.header .header_nav-menu{
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    display: block;
}
.header_nav-menu img {
    height: 100%;
    width: 100%;
}
/* main ======================================*/
.main{
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    /* display: none; */
}

/* container1 ---------------------------------*/
.container1{
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    max-width: 1140px;
    width: 100%;
    flex-wrap: wrap-reverse;
}

.container1_left{    
    line-height: 1.15;
    width: 100%;    
}

.container1_left-heading{
    margin-block-start: 30px;
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 500;
    color: #0b132a;;
}

.container1_left-des{
    font-size: 1.4rem;
    color: #4f5665;;
    line-height: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container1_left_btn{
    width: 100%;
    padding: 2.1rem 3.75rem;
    color: white;
    text-align: center;
    background-color: #f53838;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
    display: inline-block;
}

.container1_left_btn:hover{
    background-color: rgb(32, 25, 46);
    box-shadow: 0 20px 40px rgb(32, 25, 46);
}

.container1_right{
    width: 100%;
}

.container1_right-img{
    width: 100%;
}

/* container 2 */
.container2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
    width: 100%;
    max-width: 1140px;
    box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.container2_box{
    display: flex;
    flex: 1;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.container2-heading{
    font-size: 2.5rem;
    margin-block-start: 0;  
    margin-bottom: 10px;
    color: #0b132a;;  
}

.container2-des{
    font-size: 2rem;  
    color: #4f5665;
}

/* container 3 -----------------------------*/
.contaier3_right-icon{
    color: lightgreen;
    font-size: 1.8rem;
    margin-right: 16px;
}

.container3{
    padding: 70px 20px 50px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container3_left-img{ 
    width: 100%;
}

.contaier3_right{
    max-width: 430px;
}

.container3_heading{
    font-size: 2.6rem;
    color: #0b132a;;
    line-height: 1.15;
}

.container3_des{
    color: #4f5665;
    font-size: 1.4rem;
    line-height: 3rem;
}

.container3_list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;
}

.contaier3_right-icon{
    color: #2fab73;
    font-size: 1.8rem;
}

.container3_list-item{
    color: #4f5665; 
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

/* container 4 ----------------------- */
.container4{
    width: 100%;;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

.container4_content{
    text-align: center;
    margin: 0 auto 20px;
    max-width: 270px;
}

.container4_heading{
    color: #0b132a;
    margin-bottom: 20px;
    font-size: 2.6rem;
}

.container4_des{
    color: #4f5665;
    line-height: 30px;
    font-size: 1.4rem;
}

/* container 5 ----------------------------- */
.container5{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container5_box{
    max-width: 330px;
    margin-top: 14px;
    width: 100%;
    padding: 4rem;
    margin-bottom: 20px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container5_box-premium{
    border: 2px solid #f53838;
    border-radius: 10px;
}

.container5_heading{
    color: #0b132a;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 30px 0;
}

.container5_list{
    list-style-type: none;
    padding-left: 0;
    text-align: left;  
    width: 250px;
    height: 200px;
    margin-left: 26px;
}

.container5_list-item{
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #4f5665;
    margin-left: 10px;
}

.container5_list-icon{
    color: #2fab73;
    width: 10px;
    margin-right: 20px;
    
}

.container5_list-des{
    color: #4f5665;
}


.container5_box-price{
    font-size: 2.5rem;
    font-weight: 600;
    color: #0b132a;
}

.container5_box-bottom-sub{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container5_box-bottom-subfree{
    font-size: 2.5rem;
    font-weight: 600;
    color: #0b132a;
}

.container5_box-btn{
    min-width: 180px;
    height: 50px;
    color: #f53838;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
    border-radius: 1000px;
    border: 1px solid #f53838;
    border-width: 2px;
}

.container5_box-btn:hover{
    background-color: #f53838;
    color: white
}

/* container 6 -----------------------------------*/
.container6{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px 10px 20px;
}

.container6_content{
    max-width: 270px;
    margin: 38px auto 60px;    
    text-align: center;
}
.container6_heading{
    margin: 0 auto 20px;
    max-width: 400px;
    font-size: 2.6rem;
    line-height: 1.15;
    color: #0b132a;
}

.container6_des{
    line-height: 3rem;
    font-size: 1.6rem;
    color: #4f5665;
}

/* container 7 ------------------------ */
.container7{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container7_img{
    width: 100%;
    height: 100%;    
}

/* container 8------------------------ */
.container8{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;  
}

.container8_box{
    height: 30px;
    width: 95px;
    margin-bottom: 20px;
}

.container8_img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: left;
}

.container8_img:hover{
    filter: brightness(10%);
}

/* contaienr 9 ---------------------------*/
.container9{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
}

.container9_box{
    max-width: 270px;
    margin: 0 auto 60px;
    text-align: center;
    
}

.container9_heading{
    font-size: 2.6rem;
    line-height: 1.15;
    /* font-weight: 900; */
    margin-bottom: 20px;
    color: #0b132a;
    /* margin-block-start: 72px; */
}

.container9_des{
    font-size: 1.6rem;
    color: #4f5665;
    line-height: 3rem;
}

/* container 10 --------------------------- */
.container10{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
       
}

.container10_box{
    border-radius: 10px;
    border: 2px solid #dddddd;
    padding: 1.5rem;
    height: 250px;
    font-size: 1.4rem;
    
}

.container10_box-red{
    border-color: #f53838;
}

.container10_box-upper{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.container10_box-upper .info{
    margin-left: 20px;
}

.container10_box-upper .avatar img{
    width: 50px;
    height: 50px;
}

.container10_box-upper h4{
    color: #0b132a;
    font-weight: 500;
}

.container10_box-upper h4, p{
    margin: 0;
}

.container10_box-upper .rate{
    margin-left: auto;
}

.container10_box-upper .rate .rate-icon{
    color: #fea250;
    margin-left: 11px;
}

.container10_box-bottom p{
    line-height: 30px;
    color: #0b132a;
    font-size: 1.6rem;
}

/* khu vực điều hướng */
.container10_controllers{
    margin-top: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.container10_controllers-left{   
    display: flex;
    align-items: center;
}

/* .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: none;
} */

.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active{
    background-color: #f53838;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active{
    background-color: #f53838;
}

.container10_controllers-right{
    display: flex;
    justify-content: center;
}

.swiper-button-lock {
    display: block;
}

.container10_controller-arrow-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #f53838;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    object-fit: scale-down;
}

.container10_controller-rightarrow-img{
    background-color: #f53838;
}


/* container 11 ---------------------------- */
.container11{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
}
/* sub zone */
.container11_subscribe{
    display: flex;
    background-color: #fff;
    top: 110px;
    padding-bottom: 6rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
    border-radius: 10px; 
    flex-direction: column;
}

.container11_subscribe-left{
    max-width: 370px;
    text-align: center;
}

.container11_subscribe-heading{
    font-size: 2.6rem;
    color: #0b132a;
    font-weight: 500;
    line-height: 1.15;
    margin-bottom: 20px;
}

.container11_subscribe-des{
    font-size: 1.4rem;
    color: #4f5665;
    margin: 0;
}

.container11_subscribe-button{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.container11_subscribe-btn{
    font-size: 1.4rem;
    width: 100%;
    display: inline-block;
    background-color: #f53838;
    color: white;
    border-radius: 10px;
    padding: 2.1rem 3.75rem;
    border: 1px solid #f53838;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
    cursor: pointer;
}

.container11_subscribe-btn:hover{
    background-color: rgb(17, 14, 27);
    border: 1px solid rgb(17, 14, 27);
    box-shadow: 0 20px 40px rgb(17, 14, 27);
}

/* footer ================================================= */
.footer_lasles{
    
    height: max-content;
    padding-top: 190px;
    background-color: #f8f8f8;   
    display: block;
}

.footer_container{    
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;    
    display: flex;
    flex-direction: column;
}

.footer_leftside-heading{
    width: 345px;
    font-size: 1.6rem;
    color: #4f5665;
    line-height: 30px;
}

.footer_leftside-heading:hover{
    cursor: text;
}

.footer_leftside-des{
    font-size: 1.6rem;
    color: #4f5665;
}

.footer_leftside-social{
    display: flex;
    padding: 20px 0;
}
.footer-leftside-icon{
    width: 34px;
    height: 34px;
    margin-right: 20px ;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 19%);
    display: flex;
    justify-content: center;
    object-fit: scale-down;
}

.footer_rightside{
    display: flex;
    flex-direction: column ;
}

.footer_rightside-box{
    width: 180px;
    height: max-content;
}

.footer_rightside-box p{
    font-size: 1.8rem;
    font-weight: 500;
    color: #0b132a;
    margin-bottom: 20px;
}

.footer_rightside-box p:hover{
    cursor: text;
}

.footer_list{
    list-style-type: none;
    padding-left: 0;
    
}

.footer_list-item{
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.footer_list-link{
    color: #4f5665;
    text-decoration: none;
}

.footer_list-link:hover{
    text-decoration: underline;
}