html{
    /* 1 rem = 12px */
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

/* Header ---------------------------------*/
.header{
    width: 100%;
    height: 40px;
    top: 0;
}

.header_nav{
    background-color: rgb(241, 231, 231);
    width: 1100px;
    height: 40px;
    display: flex;
    padding: 22px 20px;
    margin: 0 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

/* logo ---------------------------------*/
.header_nav-logo{
    width: 150px;
    height: 34px;
}
/* .header_logo-img{
    
} */

/* header nav list ---------------------------------*/
.header_nav-listcontainer{
   width: 550px;
}

.header_nav-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.header_nav-list-link{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center  ;
}

.header_nav-list-link:hover{
    color: #f53838;
}

/* .header_nav-list-item{

} */

/* header side button ---------------------------------*/
.header_nav-buttons{
    display: flex;
    justify-content: space-between;
}

.header_nav-btn{
    min-width: 120px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    cursor: pointer;
    border-radius: 20px;
}

.header_nav-btn-loggin{
    border: none;
}

.header_nav-btn-register{
    color: #f53838;
    border-width: .2px;
    border-color: #f53838;
}

.header_nav-btn-register:hover{
    background-color: #f53838;
    color: white;
}
/* main ======================================*/
.main{
    background-color: rgb(241, 231, 231);
    padding-top: 60px;
    min-height: fit-content;
    min-width: 1000px;
    
}

/* container1 ---------------------------------*/
.container1{
    margin: 0 100px;
    padding: 0 16px;
    display: flex;
    width: 1100px;
    height: 350px;
}

.container1_left{
    font-size: 2rem;
    line-height: 1;
    width: 550px;
    height: 320px;
    
}

.container1_left_btn{
    min-width: 250px;
    height: 60px;
    color: white;
    background-color: #f53838;
    margin-top: 60px;
    margin-right: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.container1_left_btn:hover{
    background-color: rgb(32, 25, 46);
}

.container1_right{
    width: 550px;
    height: 320px;
}

.container1_right-img{
    margin-top: 26px;    
    width: 550px;
    height: 320px;
}

/* container 2 */
.container2{
    margin: 50px 100px;
    padding: 0px 16px;
    display: flex;
    width: 1100px;
    height: 140px;
    background-color: rgb(227, 232, 238);
}

.container2-icon{
    color: #f53838;
    font-size: 4rem;
    margin: 0 20px;
}


.container2_box{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 50px 0;
    text-align: right;
    justify-content: space-evenly;
}

/* .container2_left{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 20px 0;
    text-align: right;
    justify-content: space-evenly;
}

.container2_right{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 20px 0;
    text-align: right;
}

.container2_mid{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 20px 0;
    text-align: right;
} */

.container2-heading{
    margin: 0;
}

.container2_text{
    font-size: 3rem;    
}

.container2-des{
    line-height: 1.5;
    color: gray;
}

/* container 3 -----------------------------*/
.contaier3_right-icon{
    color: lightgreen;
    font-size: 1.8rem;
    margin-right: 16px;
}

.container3{
    display: flex;
    width: 1100px;
    height: 420px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: cadetblue; */
}

.contaienr3_left{
    height: 420px;
    width: 550px;
}

.container3_left-img{
    margin-top: 26px;    
    width: 550px;
    height: 320px;
}

.contaier3_right{
    margin-top: 26px;
    font-size: 3rem;
    line-height: 1;
}

.container3_heading{
    margin: 0;
}

.container3_des{
    color: rgb(80, 69, 69);  
    font-size: 2.6rem;
}

.container3_list{
    list-style-type: none;
    padding-left: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container3_list-item{
    color: rgb(80, 69, 69);    
}

/* container 4 ----------------------- */
.container4{
    width: 1100px;
    height: 200px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(26, 77, 78); */
}

.container4_content{
    text-align: center;
    padding: 20px 0;
    margin: 0 80px;
    font-size: 3rem;
}

.container4_des{
    color: gray;
    line-height: 1;
}

/* container 5 ----------------------------- */
.container5{
    width: 1100px;
    height: 650px;
    margin: 0 100px;
    padding: 0 16px;
    display: flex;
    /* background-color: rgb(104, 74, 214); */
    justify-content: space-between;
}

.container5_box{
    width: 250px;
    height: 550px;
    padding: 40px 40px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.container5_box-premium{
    border: 2px solid #f53838;
    border-radius: 20px;
}

.container5_heading{
    font-size: 2.5rem;
}

.container5_list{
    list-style-type: none;
    padding-left: 0;
    text-align: left;  
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.container5_list-item{
    font-size: 1.8rem;
}

.container5_list-icon{
    color: green;
    width: 10px;
    margin-right: 30px;
    
}

.container5_list-des{
    color: black;
}


.container5_box-price{
    font-size: 3rem;
    font-weight: 500;
    
}

.container5_box-bottom-sub{
    font-size: 2rem;
}


.container5_box-btn{
    min-width: 120px;
    height: 40px;
    color: #f53838;
    border-color: #f53838;
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid;
}

.container5_box-btn:hover{
    background-color: #f53838;
    color: white
}

/* container 6 -----------------------------------*/
.container6{
    width: 1100px;
    height: 200px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(26, 77, 78); */
}

.container6_content{
    width: 900px;
    padding: 20px 0;
    margin: 0 80px;    
    text-align: center;
    background-color: rgb(245, 243, 240);
}
.container6_heading{
    width: 400px;
    font-size: 3rem;
    margin-left: 260px;
    line-height: 1;
}

.container6_des{
    width: 400px;
    line-height: 1;
    font-size: 1.6rem;
    margin-left: 260px;
    color: rgb(36, 31, 31);
}

/* container 7 ------------------------ */
.container7{
    width: 1100px;
    height: 600px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(169, 197, 175); */
}

.container7_box{
    height: 580px;
}

.container7_img{
    width: 1100px;    
}

/* container 8------------------------ */
.container8{
    width: 1100px;
    height: 120px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(20, 59, 28); */
}

.container8_box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;    
}

.container8_img{
    width: 200px;
    height: 60px;
}

.container8_img:hover{
    background-color: rgb(181, 198, 204);
}

/* contaienr 9 ---------------------------*/
.container9{
    width: 1100px;
    height: 200px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(26, 77, 78); */
}

.container9_box{
    width: 470px;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    
}

.container9_heading{
    font-size: 4rem;
    line-height: 1;
}

.container9_des{
    font-size: 1.6rem;
    color: rgb(104, 92, 92);
}

/* container 10 --------------------------- */
.container10{
    width: 1100px;
    height: 580px;
    margin: 0 100px;
    padding: 0 16px;
    /* background-color: rgb(2, 60, 61); */
    
}

.container10_boxes{ 
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
}

.container10_box{
    width: 320px;
    height: 170px;
    padding: 40px 0;
    background-color: white;
    border: 2px solid rgb(104, 93, 93) ;
    border-radius: 10px;
}

.container10_box-red{
    border: 2px solid #f53838;
    border-radius: 10px;
}

.container10_box-top{
    display: flex;
    justify-content: space-between;

}

.container10_box-top-img{
    width: 50px;
    height: 50px;
    margin-left: 20px;

}

.contaienr10_box-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container10_box-top-name{
    font-size: 1.6rem;
    line-height: 2;
    margin-block: 0;
    height: fit-content;
}

.container10_box-top-location{
    line-height: 1;
    margin-block: 0;
    height: fit-content;
    color: rgb(167, 154, 154);
}


.container10_box-rating{    
    font-size: 1.6rem;
}

.container10_box-icon{
    margin: 0 10px;
    color: gold;
}

.container10_box-bottom-des{
    font-size: 1.6rem;
    margin-left: 20px;
}

.container10_controller{
    display: flex;
    justify-content: space-between;
}

.container10_controller-left{
    margin-top: 20px;
    margin-left: 20px;
}

.container10_controller-left-icon{
    font-size: 1.6rem;
    color: lightgray;
    margin-right: 5px;
    cursor: pointer;
}

.container10_controller-right{
    margin-top: 20px;
    margin-right: 20px;
}

.container10_controller-right-icon{
    font-size: 4rem;
    margin-right: 10px;
    color: #f53838;
    cursor: pointer;
}

/* nút điều hướng qua trái */
.fa-circle-left{
    color: gray;
    cursor: pointer;
}

/* sub zone */
.container10_subscribe{
    display: flex;
    margin: 60px 100px 0 100px;
    justify-content: space-between;
}

.container10_subscribe-left{
    width: 500px;
}

.container10_subscribe-heading{
    font-size: 3rem;
    line-height: 1;
    margin: 10px 0;
}

.container10_subscribe-des{
    font-size: 1.8rem;
    color: rgb(85, 74, 74);
    
}

.container10_subscribe-btn{
    font-size: 3rem;
    width: 250px;
    height: 80px;
    margin-top: 20px;
    background-color: #c22626;
    color: white;
    border: 1px;
    border-radius: 30px;
    box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
    cursor: pointer;
}

.container10_subscribe-btn:hover{
    background-color: rgb(15, 12, 24);
}

/* footer ================================== */
.footer_lasles{
    width: 100%;
    height: 300px;
    background-color: gray;
    padding-top: 20px;
    display: block;
}

.footer_container{
    padding-top: 20px;
    display: flex;
}

.footer_leftside{
   margin: 0 250px 0 120px;
   width: 350px;
}

.footer_leftside-heading{
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    line-height: 1.5;
}

.footer_leftside-heading:hover{
    cursor: text;
}

.footer_leftside-des{
    font: 1.4rem;
    color: lightgrey;
}

.footer_leftside-logo{

}

.footer-leftside-icon{
    width: 25px;
    height: 25px;
    margin-right: 20px ;
    border: .5px solid white;
    border-radius: 30px;
}

.footer_rightside{
    display: flex;
    width: 750px;
}

.footer_rightside-box{
    width: 200px;
    height: max-content;
}

.footer_rightside-box p{
    font-size: 2rem;
    font-weight: 300;
}

.footer_rightside-box p:hover{
    cursor: text;
}

.footer_list{
    list-style-type: none;
    padding-left: 0;
    
}

.footer_list-item{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer_list-link{
    color: black;
    text-decoration: none;
}

.footer_list-link:hover{
    text-decoration: underline;
}