/* responsive */
@media screen and (min-width: 992px){ 
    body{
        font-size: 1.6rem;
    }    
}


@media screen and (min-width: 992px){ 
    .small_nav{
        display: none;
    }    
}

@media screen and (min-width: 992px){
    .header {
        background-color: white;
    }     
}
@media screen and (min-width: 992px){
    .header .header_nav-listcontainer{
        display: block;
    }   
}

@media screen and (min-width: 992px){
    .header .header_nav-buttons .header_nav-btn{
        display: block;
    }   
}

@media screen and (min-width: 992px){
    .header .header_nav-buttons .header_nav-btn .header_nav-btn-loggin{
        display: block;
    }   
}

@media screen and (min-width: 992px){
    .header .header_nav-buttons .header_nav-btn .header_nav-btn-register{
        display: block;
    }   
}


@media screen and (min-width: 992px){
    .header .header_nav-menu{
        display: none;
    }
}
 
/*  container 1 ======================================
*   Want anything to be easy with LaslesVPN. 
*/
@media screen and (min-width: 992px){
    .container1{
       flex-wrap: nowrap;
    }
}
@media screen and (min-width: 992px){
    .container1_left{
       max-width: 555px;
    }
}

@media screen and (min-width: 992px){
    .container1_left-heading{
       font-size: 5rem;
       font-weight: 500;
    }
}
@media screen and(min-width: 992px){
    .container1_left-des{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 992px){
    .container1_left_btn{
       width: unset;
       padding: 2.1rem 7.75rem;
       font-size: 1.6rem;
    }
}

/*  container 2 ================================= 
*   Location - Server - User
*/
@media screen and (min-width: 992px){
    .container2{
      flex-direction: unset;
      padding-top: 50px 20px;
    }
}

@media screen and (min-width: 992px){
    .container2_box{
        justify-content: center;
        margin-bottom: unset;  
        margin-top: 74px;      
    }
}

@media screen and (min-width: 992px){
    .container2_text{
        margin-right: 36px;
    }
}

@media screen and (min-width: 992px){
    .container2_box-icon{
        margin-right: 36px;        
    }
}

@media screen and (min-width: 992px){
    .container2_mid{
        border-right: 2px solid #eeeff2;
        border-left: 2px solid #eeeff2;
    }
}

/*  container 3 ============================== 
*   We Provide Many Features You Can Use
*/
@media screen and (min-width: 992px){
    .container3{
        flex-direction: unset;
    }
}

@media screen and (min-width: 992px){
    .container3_left{
        margin-bottom: unset;
    }
}

@media screen and (min-width: 992px){
    .container3_heading{
        font-size: 3.5rem;
        margin: 0 0 20px ;
    }
}

@media screen and (min-width: 992px){
    .container3_des{
        font-size:1.6rem;
        margin: 0;
    }
}

/*  container 4 ============================= 
*   Choose Your Plan
*/
@media screen and (min-width: 992px){
    .container4_content{
        max-width: 550px;
    }
}

@media screen and (min-width: 992px){
    .container4_heading{
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 992px){
    .container4_des{
        font-size: 1.6rem;
    }
}

/*  container 5=========================================== 
*   Plan Boxes
*/
@media screen and (min-width: 992px){
    .container5{
        flex-direction: unset;
        align-items: unset;
    }
}

@media screen and (min-width: 992px){
    .container5_box{
        padding: 8rem 4rem;
        margin-bottom: unset;
    }
}

/*  container 6=========================================== 
*   Huge Global Network of Fast VPN
*/
@media screen and (min-width: 992px){
    .container6_content{
        max-width: 550px;
    }
}

@media screen and (min-width: 992px){
    .container6_heading{
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 992px){
    .container6_des{
        font-size: 1.6rem;
        margin: 0;
    }
}

/*  container 8=========================================== 
*   Neflix - Discord - Amazon - Reddit
*/
@media screen and (min-width: 993px){
    .container8{
        flex-wrap: unset;       
    }
}

@media screen and (min-width: 993px){
    .container8_box{
        height: 60px;
        width: 190px;
        margin-bottom: unset;
    }
}

/*  container 9=========================================== 
*   Trusted by Thousands of Happy Customer
*/
@media screen and (min-width: 992px){
    .container9_box{
        max-width: 550px;
    }
}

@media screen and (min-width: 992px){
    .container9_heading{
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 992px){
    .container9_des{
        font-size: 1.6rem;
        margin: 0;
    }
}

/*  container 10=========================================== 
*   Review
*/

@media screen and (min-width: 992px){    
    .container10_box{
        min-width: 330px;
        padding: 3rem;
    }

    .swiper-slide {
        max-width: 30%;
      }
    
      .swiper-slide:nth-child(2n) {
        max-width: 30%;
      }

    .container10_box .container10_box-upper .info h4{
        font-size: 1.8rem;
    }

    .container10_box-bottom p{
        font-size: 1.6rem;
    }

    .container10_controllers{                
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .swiper-button-lock {
        display: block;
    }
}

@media screen and (min-width: 700px) and (max-width: 991px){
    .swiper-slide {
        max-width: 44%;
      }
}

@media screen and (min-width: 300px) and (max-width: 699px){
    .swiper-slide {
        max-width: 94%;
      }

      .container10_controllers{ 
        padding: 0 10px;  
    }

    .container10_controller-arrow-img {
        height: 45px;
        width: 45px;
    }
}

/*  container 11=========================================== 
*   Subscribe Now for Get Special Features!
*/
@media screen and (min-width: 992px){
    .container11_{        
        
    }

    .container11_subscribe{
        flex-direction: unset;
        padding: 0 6rem 7rem;
        top: 170px;
        position: relative;
    }

    .container11_subscribe-left{
        text-align: left;
     }

     .container11_subscribe-heading{
        font-size: 3.5rem;
     }

     .container11_subscribe-button{
        width: unset;
        margin-top: unset;
    }

    .container11_subscribe-btn{
        padding: 2.1rem 7.75rem;
        width: unset;
    }
}

/*  footer ============================================= */
@media screen and (min-width: 992px){
    .footer_container{
        flex-direction: unset;
        align-items: unset;
    }

    .footer_leftside{
        max-width: 340px;
        margin-right: 220px;
    }

    .footer_rightside{
        display: flex;
        flex-direction: row;
    }
}

